@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: asap;
}

.full-card{
    background-color: #3f3f3f;
    width: 700px;
    height: 900px;
    margin: 0 auto;
    position: relative;
    top: 100px;
    border-radius: 40px;
}


body{
    background-color: #000000;
    position: relative;
}

.user-card{
    background-color: #666666;
    color: #ffff;
    padding: 0 auto;
    margin: 0 auto;
    border-radius: 40px;
    width: 650px;
    position: relative;
    top: 50px;
    height: 100px;
}

h2, .user{
  position: relative;
  top: -60px;  
  left: 20px;
  margin: 5px;
  padding:  0 auto;
}

img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    top: -90px;
    border: 8px solid #3f3f3f;
}